<div class="notification">
  <img src='https://kitt.lewagon.com/placeholder/random' class="avatar-large" />
  <div class="notification-content">
    <p><small>14th January</small></p>
    <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
  </div>
  <div class="notification-actions">
    <a href="#">See More<i class="fas fa-eye"></i></a>
    <a href="#">Close <i class="far fa-cross"></i></a>
  </div>
</div>
